{% extends 'base.html' %}

{% block title %}
  Todolist - Create Item
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <a href="{% url 'todo_list_list' %}">Home</a>
    </nav>
  </header>
  <main>
    <div>
      <h1>Create a new item</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
    </div>
  </main>
{% endblock content %}
