{% extends 'base.html' %}

{% block title %}
  Todolist - Edit Item
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <a href="{% url 'todo_list_list' %}">Home</a>
    </nav>
  </header>
  <main>
    <div>
      <h1>Edit an item</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Update</button>
      </form>
    </div>
  </main>
{% endblock content %}
