{% extends 'base.html' %}

{% block title %}
  Todolist - Delete
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <a href="{% url 'todo_list_list' %}">Home</a>
    </nav>
  </header>
  <main>
    <div>
      <h1>Are you sure you want to delete {{ todolist_object.name }}?</h1>
      <form method="post">
        {% csrf_token %}
        <button>Delete</button>
      </form>
    </div>
  </main>
{% endblock content %}
