{% extends 'base.html' %}

{% block title %}
  Todolist - Detail
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <a href="{% url 'todo_list_list' %}">Home</a>
    </nav>
  </header>
  <main>
    <div>
      <h1>{{ todolist_object.name }}</h1>
      <p>
        <a href="{% url 'todo_list_update' todolist_object.id %}">Edit</a>
      </p>
      <p>
        <a href="{% url 'todo_list_delete' todolist_object.id %}">Delete</a>
      </p>
      <p>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todolist_object.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
              </td>
              <td>{{ item.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
