{% extends 'base.html' %}

{% block title %}
  Todolist
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <a href="{% url 'todo_list_list' %}">Home</a>
    </nav>
  </header>
  <main>
    <div>
      <h1>My Lists</h1>
      <p>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
      </p>
      <p>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
      </p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
        </thead>
        <tbody>
          {% for todolist in todolist_list %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist }}</a>
              </td>
              <td>{{ todolist.items.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
