{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static "css/todos.css" %}"> {% endcomment %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <footer>
      <p>Made possible by viewers like you.</p>
    </footer>
  </body>
</html>
